---
// Import your config
import { menuLinks, siteConfig } from "@/site.config";

// Get the current year
const year = new Date().getFullYear();

// Filter out the /support/ link
const filteredMenuLinks = menuLinks.filter(link => link?.path !== "/support/");
---

<footer
	class="semibold mt-auto flex w-full flex-col sm:flex-row items-center justify-between gap-3 px-4 pb-6 pt-8 text-center sm:text-sm text-accent">
	<div class="me-0 font-semibold sm:me-4">
		&copy; {siteConfig.author} {year}.<span class="inline-block">&nbsp;🚀&nbsp;</span>
	</div>
	<nav
		aria-label="More on this site"
		class="flex flex-wrap justify-center sm:justify-end gap-x-4 gap-y-2 font-medium text-light w-full sm:w-auto"
	>
		{filteredMenuLinks.map((link) => (
			<a class="underline-offset-2 hover:text-accent hover:underline" href={link.path}>
				{link.title}
			</a>
		))}
	</nav>
</footer>

